# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
coverage

# dependencies
/node_modules
server/build

# IDEs and editors
/.idea
typings/
build/
credentials/
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/typings
*.log
*.pid

### Pier One STUPS ###
scm-source.json

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
